In [1]:
house_1_df = spark.read.format('csv').option('header', True).option('delimiter', ',')\
                .load('housedata/Branch1_HouseDataset.csv')

house_2_df = spark.read.format('csv').option('header', True).option('delimiter', ',')\
                .load('housedata/Branch2_HouseDataset.csv')

gov_1_df = spark.read.format('csv').option('header', True).option('delimiter', ',')\
                .load('housedata/Branch1_GovDataset.csv')

gov_2_df = spark.read.format('csv').option('header', True).option('delimiter', ',')\
                .load('housedata/Branch2_GovDataset.csv')

### Count rows of dataframe

In [2]:
house_1_df.count()

1000

### Get all column names of dataframe

In [3]:
gov_1_df.columns

['Id',
 'LotFrontage',
 'MSZoning',
 'YearBuilt',
 'SaleCondition',
 'SalePrice',
 'Label']

In [4]:
len(gov_1_df.columns)

7

### Get datatype of all columns

In [5]:
gov_1_df.dtypes

[('Id', 'string'),
 ('LotFrontage', 'string'),
 ('MSZoning', 'string'),
 ('YearBuilt', 'string'),
 ('SaleCondition', 'string'),
 ('SalePrice', 'string'),
 ('Label', 'string')]

### Show schema of dataframe

In [7]:
gov_1_df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: string (nullable = true)
 |-- Label: string (nullable = true)

### Show samples of dataframe

In [8]:
gov_1_df.show(10)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  7|       75.0|      RL|     2004|       Normal|   307000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
|  9|       51.0|      RM|     1931|      Abnorml|   129900|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 10 rows

### Access value in dataframe

In [10]:
# <dataframe>.collect()[<row_number>][<column_name>]
gov_1_df.collect()[0]['LotFrontage']

'65.0'

### Sort dataframe

In [21]:
# ASC
gov_1_df.sort(gov_1_df['YearBuilt']).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|631|       50.0|      RM|     1880|      Abnorml|   124000|    Y|
|305|       87.0|      RM|     1880|       Normal|   295000|    Y|
|748|       65.0|      RM|     1880|       Normal|   265979|    Y|
|992|      121.0|      RM|     1882|       Normal|   168000|    Y|
|107|       60.0|      RM|     1885|       Normal|   100000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [20]:
# Multi-columns (ASC)
gov_1_df.sort('YearBuilt', 'SalePrice').show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|631|       50.0|      RM|     1880|      Abnorml|   124000|    Y|
|748|       65.0|      RM|     1880|       Normal|   265979|    Y|
|305|       87.0|      RM|     1880|       Normal|   295000|    Y|
|992|      121.0|      RM|     1882|       Normal|   168000|    Y|
|107|       60.0|      RM|     1885|       Normal|   100000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [26]:
# DESC
gov_1_df.sort(gov_1_df['YearBuilt'].desc()).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|379|       88.0|      RL|     2010|      Partial|   394432|    Y|
|158|       92.0|      RL|     2009|      Partial|   269500|    Y|
|104|       94.0|      RL|     2009|       Normal|   198900|    Y|
| 88|       40.0|      FV|     2009|      Partial|   164500|    Y|
|212|       83.0|      RL|     2009|       Normal|   186000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [28]:
# Multi-columns (DESC & ASC)
gov_1_df.sort(gov_1_df['YearBuilt'].desc(), gov_1_df['SalePrice']).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|379|       88.0|      RL|     2010|      Partial|   394432|    Y|
| 88|       40.0|      FV|     2009|      Partial|   164500|    Y|
|915|       30.0|      FV|     2009|      Partial|   173733|    Y|
|212|       83.0|      RL|     2009|       Normal|   186000|    Y|
|104|       94.0|      RL|     2009|       Normal|   198900|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

### Select

In [32]:
gov_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [31]:
gov_1_df.select(['Id', 'LotFrontage', 'YearBuilt', 'SalePrice']).show(5)

+---+-----------+---------+---------+
| Id|LotFrontage|YearBuilt|SalePrice|
+---+-----------+---------+---------+
|  1|       65.0|     2003|   208500|
|  2|       80.0|     1976|   181500|
|  3|       68.0|     2001|   223500|
|  4|       60.0|     1915|   140000|
|  5|       84.0|     2000|   250000|
+---+-----------+---------+---------+
only showing top 5 rows

### Drop column(s)

In [33]:
gov_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [38]:
gov_1_df_dropped = gov_1_df.drop('Id', 'Label')
gov_1_df_dropped.show(5)

+-----------+--------+---------+-------------+---------+
|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|
+-----------+--------+---------+-------------+---------+
|       65.0|      RL|     2003|       Normal|   208500|
|       80.0|      RL|     1976|       Normal|   181500|
|       68.0|      RL|     2001|       Normal|   223500|
|       60.0|      RL|     1915|      Abnorml|   140000|
|       84.0|      RL|     2000|       Normal|   250000|
+-----------+--------+---------+-------------+---------+
only showing top 5 rows

### Join

In [44]:
print('gov 1 df:', ', '.join(gov_1_df.columns))
print('house 1 df:', ', '.join(house_1_df.columns))

gov 1 df: Id, LotFrontage, MSZoning, YearBuilt, SaleCondition, SalePrice, Label
house 1 df: Id, TotalBsmtSF, 1stFlrSF, 2ndFlrSF

In [77]:
# <1st df>.join(<2nd df>, <FK>, <join type>)
gov_house_1_df = gov_1_df.join(house_1_df, 'Id', 'left')
gov_house_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
only showing top 5 rows

### Union

In [46]:
print('house 1 df rows:', house_1_df.count())
print('house 2 df rows:', house_2_df.count())

house 1 df rows: 1000
house 2 df rows: 460

In [50]:
house_df_union = house_1_df.unionAll(house_2_df)
print('house 1 union all house 2, rows:', house_df_union.count())

house 1 union all house 2, rows: 1460

### Filter

In [51]:
gov_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [54]:
# <dataframe>.filter(<condition>) --> condition as boolean
gov_1_df.filter(gov_1_df['Id']%2 == 0).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [56]:
gov_1_df.filter(gov_1_df['LotFrontage'].isNotNull()).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [57]:
gov_1_df.filter(gov_1_df['LotFrontage'].isNull()).show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
| 13|       null|      RL|     1962|       Normal|   144000|    Y|
| 15|       null|      RL|     1960|       Normal|   157000|    Y|
| 17|       null|      RL|     1970|       Normal|   149000|    Y|
| 25|       null|      RL|     1968|       Normal|   154000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

### Drop null values

In [65]:
gov_1_df_even_Id = gov_1_df.filter(gov_1_df['Id']%2 == 0)
gov_1_df_even_Id.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [66]:
gov_1_df_dropna = gov_1_df_even_Id.dropna()
gov_1_df_dropna.show(5) # Id = 8 is gone

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
| 12|       85.0|      RL|     2005|      Partial|   345000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

### Replace null with another value

In [67]:
gov_1_df_even_Id.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [68]:
gov_1_df_even_Id.fillna('-').show(5) # Id = 8 is changed

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  8|          -|      RL|     1973|       Normal|   200000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

### Change column data type

In [69]:
gov_1_df_even_Id.printSchema()

root
 |-- Id: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: string (nullable = true)
 |-- Label: string (nullable = true)

In [73]:
gov_1_df_even_Id = gov_1_df_even_Id.withColumn('SalePrice', gov_1_df_even_Id['SalePrice'].cast('int'))

In [74]:
gov_1_df_even_Id.printSchema()

root
 |-- Id: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: integer (nullable = true)
 |-- Label: string (nullable = true)

### View statistic values (summary)

In [79]:
gov_house_1_df.describe().show() # please zoom out

+-------+-----------------+------------------+--------+------------------+-------------+-----------------+-----+-----------------+------------------+-----------------+
|summary|               Id|       LotFrontage|MSZoning|         YearBuilt|SaleCondition|        SalePrice|Label|      TotalBsmtSF|          1stFlrSF|         2ndFlrSF|
+-------+-----------------+------------------+--------+------------------+-------------+-----------------+-----+-----------------+------------------+-----------------+
|  count|             1000|               827|    1000|              1000|         1000|             1000| 1000|             1000|              1000|             1000|
|   mean|            500.5|  69.9552599758162|    null|          1971.633|         null|       182284.451| null|         1061.312|          1156.953|          347.066|
| stddev|288.8194360957494|23.202690016333754|    null|30.007945410970535|         null|80291.21520726325| null|421.9458886978153|375.21580149120695|437.8827365116544|
|    min|                1|             100.0| C (all)|              1880|      Abnorml|           100000|    Y|                0|              1001|                0|
|    max|              999|              99.0|      RM|              2010|      Partial|            99500|    Y|              999|               999|              988|
+-------+-----------------+------------------+--------+------------------+-------------+-----------------+-----+-----------------+------------------+-----------------+

### Aggregate (import aggregate functions)

In [94]:
# avg, mean, count, sum, stddev
from pyspark.sql.functions import avg, mean, count, sum, stddev, max

In [86]:
gov_house_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
only showing top 5 rows

In [96]:
gov_house_1_df.agg(sum('LotFrontage')).show()

+----------------+
|sum(LotFrontage)|
+----------------+
|         57853.0|
+----------------+

In [97]:
gov_house_1_df.agg(max('LotFrontage')).show()

+----------------+
|max(LotFrontage)|
+----------------+
|            99.0|
+----------------+

### groupby

In [104]:
gov_1_df_even_Id.show(5)

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 5 rows

In [105]:
gov_1_df_even_Id.groupby('MSZoning').avg('SalePrice').show()

+--------+------------------+
|MSZoning|    avg(SalePrice)|
+--------+------------------+
| C (all)|           94894.0|
|      RH|          129326.0|
|      FV|      211996.15625|
|      RL| 194051.0505319149|
|      RM|129319.81012658228|
+--------+------------------+

### Create and manipulate column

In [106]:
gov_house_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
only showing top 5 rows

In [108]:
gov_house_1_df.withColumn('TotalArea',\
                          gov_house_1_df['TotalBsmtSF']+gov_house_1_df['1stFlrSF']+gov_house_1_df['2ndFlrSF'])\
              .show(5)

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+---------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|TotalArea|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+---------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|   2566.0|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|   2524.0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|   2706.0|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|   2473.0|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|   3343.0|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+---------+
only showing top 5 rows

### Change to Pandas format

In [109]:
gov_house_1_df.show(5)

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
only showing top 5 rows

In [111]:
gov_house_1_df.toPandas().head()

,Id,LotFrontage,MSZoning,YearBuilt,SaleCondition,SalePrice,Label,TotalBsmtSF,1stFlrSF,2ndFlrSF
0,1,65.0,RL,2003,Normal,208500,Y,856,856,854
1,2,80.0,RL,1976,Normal,181500,Y,1262,1262,0
2,3,68.0,RL,2001,Normal,223500,Y,920,920,866
3,4,60.0,RL,1915,Abnorml,140000,Y,756,961,756
4,5,84.0,RL,2000,Normal,250000,Y,1145,1145,1053

### Write result

In [113]:
gov_house_1_df.write.format('csv').options(delimiter=',', header=True)\
              .save('housedata/Branch1_HouseGovCombine')